WebSocketConnection.Close should wait for a Close frame response before closing the Socket

WebSocketConnection.Close should wait for a Close frame response before closing the socket.

This is described in RFC 6455 Section 1.4. (https://tools.ietf.org/html/rfc6455#section-1.4)

We are experiencing issues with this when we are Closing a Connection immediately after Sending a message. We are awaiting the Task from the send function though.